In [1]:
import numpy as np
import pandas as pd
import joblib as jb
from sklearn.model_selection import train_test_split
from sklearn.linear_model import LogisticRegression
from sklearn.metrics import accuracy_score

In [2]:
card_data = pd.read_csv('creditcard.csv')

In [3]:
card_data.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
0,0.0,-1.359807,-0.072781,2.536347,1.378155,-0.338321,0.462388,0.239599,0.098698,0.363787,...,-0.018307,0.277838,-0.110474,0.066928,0.128539,-0.189115,0.133558,-0.021053,149.62,0
1,0.0,1.191857,0.266151,0.166480,0.448154,0.060018,-0.082361,-0.078803,0.085102,-0.255425,...,-0.225775,-0.638672,0.101288,-0.339846,0.167170,0.125895,-0.008983,0.014724,2.69,0
2,1.0,-1.358354,-1.340163,1.773209,0.379780,-0.503198,1.800499,0.791461,0.247676,-1.514654,...,0.247998,0.771679,0.909412,-0.689281,-0.327642,-0.139097,-0.055353,-0.059752,378.66,0
3,1.0,-0.966272,-0.185226,1.792993,-0.863291,-0.010309,1.247203,0.237609,0.377436,-1.387024,...,-0.108300,0.005274,-0.190321,-1.175575,0.647376,-0.221929,0.062723,0.061458,123.50,0
4,2.0,-1.158233,0.877737,1.548718,0.403034,-0.407193,0.095921,0.592941,-0.270533,0.817739,...,-0.009431,0.798278,-0.137458,0.141267,-0.206010,0.502292,0.219422,0.215153,69.99,0

In [4]:
card_data.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
284802,172786.0,-11.881118,10.071785,-9.834783,-2.066656,-5.364473,-2.606837,-4.918215,7.305334,1.914428,...,0.213454,0.111864,1.014480,-0.509348,1.436807,0.250034,0.943651,0.823731,0.77,0
284803,172787.0,-0.732789,-0.055080,2.035030,-0.738589,0.868229,1.058415,0.024330,0.294869,0.584800,...,0.214205,0.924384,0.012463,-1.016226,-0.606624,-0.395255,0.068472,-0.053527,24.79,0
284804,172788.0,1.919565,-0.301254,-3.249640,-0.557828,2.630515,3.031260,-0.296827,0.708417,0.432454,...,0.232045,0.578229,-0.037501,0.640134,0.265745,-0.087371,0.004455,-0.026561,67.88,0
284805,172788.0,-0.240440,0.530483,0.702510,0.689799,-0.377961,0.623708,-0.686180,0.679145,0.392087,...,0.265245,0.800049,-0.163298,0.123205,-0.569159,0.546668,0.108821,0.104533,10.00,0
284806,172792.0,-0.533413,-0.189733,0.703337,-0.506271,-0.012546,-0.649617,1.577006,-0.414650,0.486180,...,0.261057,0.643078,0.376777,0.008797,-0.473649,-0.818267,-0.002415,0.013649,217.00,0

In [5]:
card_data.info()

<class 'pandas.core.frame.DataFrame'>
RangeIndex: 284807 entries, 0 to 284806
Data columns (total 31 columns):
 #   Column  Non-Null Count   Dtype
---  ------  --------------   -----
 0   Time    284807 non-null  float64
 1   V1      284807 non-null  float64
 2   V2      284807 non-null  float64
 3   V3      284807 non-null  float64
 4   V4      284807 non-null  float64
 5   V5      284807 non-null  float64
 6   V6      284807 non-null  float64
 7   V7      284807 non-null  float64
 8   V8      284807 non-null  float64
 9   V9      284807 non-null  float64
 10  V10     284807 non-null  float64
 11  V11     284807 non-null  float64
 12  V12     284807 non-null  float64
 13  V13     284807 non-null  float64
 14  V14     284807 non-null  float64
 15  V15     284807 non-null  float64
 16  V16     284807 non-null  float64
 17  V17     284807 non-null  float64
 18  V18     284807 non-null  float64
 19  V19     284807 non-null  float64
 20  V20     284807 non-null  float64
 21  V21     284807 non-null  float64
 22  V22     284807 non-null  float64
 23  V23     284807 non-null  float64
 24  V24     284807 non-null  float64
 25  V25     284807 non-null  float64
 26  V26     284807 non-null  float64
 27  V27     284807 non-null  float64
 28  V28     284807 non-null  float64
 29  Amount  284807 non-null  float64
 30  Class   284807 non-null  int64
dtypes: float64(30), int64(1)
memory usage: 67.4 MB

In [6]:
card_data.isnull().sum()

Time      0
V1        0
V2        0
V3        0
V4        0
V5        0
V6        0
V7        0
V8        0
V9        0
V10       0
V11       0
V12       0
V13       0
V14       0
V15       0
V16       0
V17       0
V18       0
V19       0
V20       0
V21       0
V22       0
V23       0
V24       0
V25       0
V26       0
V27       0
V28       0
Amount    0
Class     0
dtype: int64

In [7]:
card_data.shape

(284807, 31)

In [11]:
card_data['Class'].value_counts()

0    284315
1       492
Name: Class, dtype: int64

In [12]:
legit = card_data[card_data.Class == 0]
fraud = card_data[card_data.Class == 1]

In [13]:
print(legit.shape)
print(fraud.shape)

(284315, 31)
(492, 31)

In [15]:
legit.Amount.describe()

count    284315.000000
mean         88.291022
std         250.105092
min           0.000000
25%           5.650000
50%          22.000000
75%          77.050000
max       25691.160000
Name: Amount, dtype: float64

In [17]:
fraud.Amount.describe()

count     492.000000
mean      122.211321
std       256.683288
min         0.000000
25%         1.000000
50%         9.250000
75%       105.890000
max      2125.870000
Name: Amount, dtype: float64

In [19]:
card_data.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,94838.202258,0.008258,-0.006271,0.012171,-0.007860,0.005453,0.002419,0.009637,-0.000987,0.004467,...,-0.000644,-0.001235,-0.000024,0.000070,0.000182,-0.000072,-0.000089,-0.000295,-0.000131,88.291022
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [20]:
legit_sample = legit.sample(n=492)

In [22]:
new_dataset = pd.concat([legit_sample , fraud ], axis =0)

In [23]:
new_dataset.shape

(984, 31)

In [24]:
new_dataset.head()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
99559,67175.0,1.107183,-0.621523,0.976096,-0.481601,-1.069024,0.072459,-0.668893,0.121354,2.169212,...,0.080604,0.755545,-0.196437,0.183990,0.736487,-0.452523,0.125950,0.033713,37.00,0
11253,19536.0,-0.710195,0.282275,2.773634,-1.661786,-0.531971,-0.446969,0.175756,-0.002663,2.863333,...,-0.139042,0.094963,-0.297867,0.295864,0.271995,-0.825360,-0.077082,-0.157443,1.55,0
35786,38264.0,1.356146,-0.519491,-0.025775,-0.752181,-0.606833,-0.598393,-0.238704,-0.271867,-1.014811,...,-0.606741,-1.370512,0.037100,-0.435446,0.170498,0.849128,-0.065051,0.013456,59.50,0
55179,46823.0,1.177390,-0.293181,0.097888,-0.869454,-0.560284,-0.848946,-0.044411,-0.148809,1.160317,...,0.229568,0.769397,-0.206293,0.136833,0.720858,-0.341592,0.051187,0.023052,46.28,0
179703,124205.0,2.084521,-1.635543,-0.974251,-1.484410,-1.405189,-0.734780,-0.977049,-0.171237,-1.495988,...,-0.002253,0.308737,0.121028,0.010848,-0.195624,-0.125007,-0.010671,-0.049024,98.40,0

In [25]:
new_dataset.tail()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V21,V22,V23,V24,V25,V26,V27,V28,Amount,Class
279863,169142.0,-1.927883,1.125653,-4.518331,1.749293,-1.566487,-2.010494,-0.882850,0.697211,-2.064945,...,0.778584,-0.319189,0.639419,-0.294885,0.537503,0.788395,0.292680,0.147968,390.00,1
280143,169347.0,1.378559,1.289381,-5.004247,1.411850,0.442581,-1.326536,-1.413170,0.248525,-1.127396,...,0.370612,0.028234,-0.145640,-0.081049,0.521875,0.739467,0.389152,0.186637,0.76,1
280149,169351.0,-0.676143,1.126366,-2.213700,0.468308,-1.120541,-0.003346,-2.234739,1.210158,-0.652250,...,0.751826,0.834108,0.190944,0.032070,-0.739695,0.471111,0.385107,0.194361,77.89,1
281144,169966.0,-3.113832,0.585864,-5.399730,1.817092,-0.840618,-2.943548,-2.208002,1.058733,-1.632333,...,0.583276,-0.269209,-0.456108,-0.183659,-0.328168,0.606116,0.884876,-0.253700,245.00,1
281674,170348.0,1.991976,0.158476,-2.583441,0.408670,1.151147,-0.096695,0.223050,-0.068384,0.577829,...,-0.164350,-0.295135,-0.072173,-0.450261,0.313267,-0.289617,0.002988,-0.015309,42.53,1

In [26]:
new_dataset['Class'].value_counts()

0    492
1    492
Name: Class, dtype: int64

In [28]:
new_dataset.groupby('Class').mean()

,Time,V1,V2,V3,V4,V5,V6,V7,V8,V9,...,V20,V21,V22,V23,V24,V25,V26,V27,V28,Amount
Class,,,,,,,,,,,,,,,,,,,,,
0,95164.508130,-0.064712,-0.008034,-0.036973,0.025736,0.134292,0.080124,-0.043297,0.015376,0.002702,...,0.015127,-0.011335,-0.023323,0.015883,0.000179,0.034971,0.020703,-0.011482,-0.014896,85.981789
1,80746.806911,-4.771948,3.623778,-7.033281,4.542029,-3.151225,-1.397737,-5.568731,0.570636,-2.581123,...,0.372319,0.713588,0.014049,-0.040308,-0.105130,0.041449,0.051648,0.170575,0.075667,122.211321

In [34]:
X = new_dataset.drop(columns = 'Class' , axis = 1)
Y = new_dataset['Class']

In [36]:
print(X.shape)
print(Y.shape)

(984, 30)
(984,)

In [37]:
print(X)
print(Y)

            Time        V1        V2        V3        V4        V5        V6  \
99559    67175.0  1.107183 -0.621523  0.976096 -0.481601 -1.069024  0.072459
11253    19536.0 -0.710195  0.282275  2.773634 -1.661786 -0.531971 -0.446969
35786    38264.0  1.356146 -0.519491 -0.025775 -0.752181 -0.606833 -0.598393
55179    46823.0  1.177390 -0.293181  0.097888 -0.869454 -0.560284 -0.848946
179703  124205.0  2.084521 -1.635543 -0.974251 -1.484410 -1.405189 -0.734780
...          ...       ...       ...       ...       ...       ...       ...
279863  169142.0 -1.927883  1.125653 -4.518331  1.749293 -1.566487 -2.010494
280143  169347.0  1.378559  1.289381 -5.004247  1.411850  0.442581 -1.326536
280149  169351.0 -0.676143  1.126366 -2.213700  0.468308 -1.120541 -0.003346
281144  169966.0 -3.113832  0.585864 -5.399730  1.817092 -0.840618 -2.943548
281674  170348.0  1.991976  0.158476 -2.583441  0.408670  1.151147 -0.096695

              V7        V8        V9  ...       V20       V21       V22  \
99559  -0.668893  0.121354  2.169212  ... -0.038955  0.080604  0.755545
11253   0.175756 -0.002663  2.863333  ... -0.265754 -0.139042  0.094963
35786  -0.238704 -0.271867 -1.014811  ... -0.282199 -0.606741 -1.370512
55179  -0.044411 -0.148809  1.160317  ... -0.053087  0.229568  0.769397
179703 -0.977049 -0.171237 -1.495988  ... -0.289010 -0.002253  0.308737
...          ...       ...       ...  ...       ...       ...       ...
279863 -0.882850  0.697211 -2.064945  ...  1.252967  0.778584 -0.319189
280143 -1.413170  0.248525 -1.127396  ...  0.226138  0.370612  0.028234
280149 -2.234739  1.210158 -0.652250  ...  0.247968  0.751826  0.834108
281144 -2.208002  1.058733 -1.632333  ...  0.306271  0.583276 -0.269209
281674  0.223050 -0.068384  0.577829  ... -0.017652 -0.164350 -0.295135

             V23       V24       V25       V26       V27       V28  Amount
99559  -0.196437  0.183990  0.736487 -0.452523  0.125950  0.033713   37.00
11253  -0.297867  0.295864  0.271995 -0.825360 -0.077082 -0.157443    1.55
35786   0.037100 -0.435446  0.170498  0.849128 -0.065051  0.013456   59.50
55179  -0.206293  0.136833  0.720858 -0.341592  0.051187  0.023052   46.28
179703  0.121028  0.010848 -0.195624 -0.125007 -0.010671 -0.049024   98.40
...          ...       ...       ...       ...       ...       ...     ...
279863  0.639419 -0.294885  0.537503  0.788395  0.292680  0.147968  390.00
280143 -0.145640 -0.081049  0.521875  0.739467  0.389152  0.186637    0.76
280149  0.190944  0.032070 -0.739695  0.471111  0.385107  0.194361   77.89
281144 -0.456108 -0.183659 -0.328168  0.606116  0.884876 -0.253700  245.00
281674 -0.072173 -0.450261  0.313267 -0.289617  0.002988 -0.015309   42.53

[984 rows x 30 columns]
99559     0
11253     0
35786     0
55179     0
179703    0
         ..
279863    1
280143    1
280149    1
281144    1
281674    1
Name: Class, Length: 984, dtype: int64

In [38]:
X_train , X_test , Y_train , Y_test = train_test_split(X , Y , test_size = 0.2 , stratify = Y , random_state = 2)bb

In [44]:
print(X.shape , X_train.shape , X_test.shape)
print(Y.shape , Y_train.shape , Y_test.shape)

(984, 30) (787, 30) (197, 30)
(984,) (787,) (197,)

In [39]:
model = LogisticRegression()

In [40]:
model.fit(X_train , Y_train)

LogisticRegression()

In [42]:
train_predictions = model.predict(X_train)
test_predictions = model.predict(X_test)

train_score = accuracy_score(train_predictions , Y_train)

test_score = accuracy_score(test_predictions , Y_test)

print('The accuracy score on training data is : ', train_score)

print('The accuracy score on test data is : ', test_score)

The accuracy score on training data is :  0.9364675984752223
The accuracy score on test data is :  0.9289340101522843

In [43]:
jb.dump(model ,'CREDIT_CARD_FRAUD_DETECTION.joblib')

['CREDIT_CARD_FRAUD_DETECTION.joblib']

In [45]:
# input_data = (67175.0	1.107183	-0.621523	0.976096	-0.481601	-1.069024	0.072459	-0.668893	0.121354	2.169212	...	0.080604	0.755545	-0.196437	0.183990	0.736487	-0.452523	0.125950	0.033713	37.00)

# new_data = np.asarray(input_data)

# new_data_rs = new_data.reshape(1,-1)

# predictions = model.predict(new_data_rs)
# print(predictions)

SyntaxError: invalid syntax (1594194937.py, line 1)